<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/tufte.css">
  <title>{{ site.title }}</title>
</head>

<header>
  {% include header.liquid %}
</header>

<body>
    {{ content }}
</body>

</html>